//
// Override global variables
//

// Theme colors
// $primary:       									#1BC5BD;
// $primary-hover:    									#0BB7AF;
// $primary-light:    									#C9F7F5;
// $primary-inverse:  									#FFFFFF;

// $info:       									    #6993FF;
// $info-light:    									#E1E9FF;
// $info-hover:    									#4A7DFF;
// $info-inverse:  									#FFFFFF;

// $success:       									#3699FF;
// $success-hover:    									#187DE4;
// $success-light:    									#E1F0FF;
// $success-inverse:  									#FFFFFF;

$primary: #492C9E;
$primary-hover: #241060;
$primary-light:	#F4F1FE;
$primary-inverse: #FFFFFF;

$secondary: #FAB814;
$secondary-hover: #D69A00;
$secondary-light:	#FEFAF1;
$secondary-inverse: #FFFFFF;

$info: #417DC3;
$info-hover: #00499F;
$info-light: #F1F7FE;
$info-inverse: #FFFFFF;

$success:	#3AAC12;
$success-hover: #1D6F00;
$success-light: #F4FEF1;
$success-inverse: #FFFFFF;

$warning: #FF8A00;
$warning-hover: #DE5D00;
$warning-light: #FEFAF1;
// $warning:	#FFB800;
// $warning-hover: #ED8525;
// $warning-light: #FEFAF1;
$warning-inverse: #FFFFFF;

$danger:	#FF4040;
$danger-hover: #9B0000;
$danger-light: #FEF1F1;
$danger-inverse: #FFFFFF;
